ul li {
    padding-bottom: 15px;
    list-style-type: circle;
}

ul li:hover {
    list-style-type: disc;
    color:#41CB83;
}

ul li a {
    text-decoration: none;
    font-family: 微软雅黑;
    font-size: 14px;
    color: black;
}

ul li a:hover {
    color: white;
    background-color: #41CB83;
    border: 4px solid #41CB83;
    border-radius: 4px;
}

.row1, .row2, .row3, .end {
    margin: 0 auto;
    overflow: hidden;
}

.life, .study, .work, .pay, .media, .goodWeb, .resource, .school, .company, .others {
    float: left;
    margin-left: 10%;
}

.row1 {
    background-color: #FFFFFF;
}

.row2 {
    background-color: #FAFAFA;
}

.row3 {
    background-color: #FFFFFF;
}

.end {
    text-align: center;
}

.end a {
    font-size: 12px;
    font-family: Arial;
    color: gray;
    text-decoration: none;
}

.end a:hover {
    color: #41CB83;
}
